 
@{
    ViewBag.Title = "Changepass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" >Contraseña</label>
            <div class="col-md-10">                
                @Html.TextBox("segpass01", null, new { id = "name", @class = "form-control text-box single-line", Type = "password" })        
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Confirmar Contraseña</label>
            <div class="col-md-10">
                @Html.TextBox("segPasswordConfirmacion", null, new { id = "name", @class = "form-control text-box single-line", Type = "password" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="text-danger field-validation-error">@ViewBag.msgerror</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
