<!DOCTYPE html><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP Diresa</title>
    @Scripts.Render("~/bundles/modernizr")    
</head>
 <body class="hold-transition skin-blue sidebar-mini">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
 
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                  
                   
                     @if (Request.IsAuthenticated)
                        {
                         
    <li>
        @Html.ActionLink("Hola " + Html.Encode(User.Identity.Name) + "!", "Index", "#", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>

 
                        <li>@Html.ActionLink("Salir", "LogOut", "Seguridad")</li>
                        }
                     else
                     {
                        <li>@Html.ActionLink("Ingresar", "login", "Seguridad")</li>
                     
                        
                       }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">




        <div class="container color1" id="login-block">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">      
 @RenderBody()
                </div>
            </div>
        </div>


     
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Direccion Reginal de Salud del Callao</p>
            <p>Unidad de Informatica</p>
            <p>Area de Sistemas</p>
        </footer>
    </div>
    @Styles.Render("~/Content/CssLogin")
    @Scripts.Render("~/bundles/CssLogin")  
    @RenderSection("scripts", required: false)
</body>
</html>
